apiVersion: azure.upbound.io/v1beta1
metadata:
  name: default-azure
kind: ProviderConfig
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: azure-creds
      key: creds